---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout>
    <Newsletter />

  <section class="content" id="two">
    <h2>More Content</h2>
    <p>This is another section of your site.</p>
  </section>
</Layout>
