---
// src/components/Footer.astro
---



<footer class="site-footer">
  <div class="icon-links">
    <a href="https://x.com/iamjudewilliams" target="_blank">
      <img src="/images/twitter.svg" alt="Twitter logo" class="footer-icon" />
    </a>
    <a href="https://williamsjude.beehiiv.com/" target="_blank">
      <img src="/images/mail.svg" alt="Newsletter logo" class="footer-icon" />
    </a>
    <a href="mailto:williamsjdotcom@gmail.com" target="_blank">
      <img src="/images/square-pen.svg" alt="Email icon" class="footer-icon" />
    </a>
    <a href="/your-other-link" target="_blank">
      <img src="/images/instagram.svg" alt="Other logo" class="footer-icon" />
    </a>
  </div>

  <div class="footer-text">
    <p>
      © williams. Contact me:
      <a href="https://x.com/iamjudewilliams" target="_blank" class="footer-link">@iamjudewilliams</a>
    </p>
  </div>
</footer>
