---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Guidance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  integrity="sha512-yT8YEO0Dd1P1yt+VZlVbEAKROeN6yIUfQuE7mHp0fdHZTcuJ5zWfbwB3U6KryNPrC4C3EtcPgypFRH7tN78+tA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="background"></div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
  let lastTouchEnd = 0;

  document.addEventListener('touchend', function (event) {
    const now = Date.now();
    if (now - lastTouchEnd <= 300) {
      event.preventDefault(); // prevent double-tap zoom
    }
    lastTouchEnd = now;
  }, false);
</script>

  </body>
</html>

