



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Guidance</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <slot />
  </body>
</html>

